@@import url('https://fonts.googleapis.com/css2?family=Poppis:wght@300;400;500;600&display=swap');

:root{
  --main-color: #DD2F6E;
  --color-dark: #1D2231;
  --text-grey:  #8390A2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.sidebar-brand{
  height: 90px;
  padding: 1rem 0rem 1rem 2rem;
  color: #fff
}

.sidebar-brand span{
  display: inline-block;
  padding-right: 2rem;
}

.sidebar-menu li {
  width: 100%;
  margin-bottom: 2rem;
  padding-left: 1rem
}

.sidebar-menu a{
  padding-left: 2rem;
  display: block;
  color: #fff
  font-size: 1.1rem
}

.sidebar-menu a span:first-child{
  font-size: 2rem;
  padding-right: 1rem;
}

.sidebar-menu a:hover{
  background: #34FF32;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  color: #DD54DF
}


.sidebar {
  width: 345px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: #5bc0de
}

.main-content{
  margin-left: 345px;


}
