<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PyCoorp Administrativo</title>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
      <div class="sidebar">
        <div class="sidebar-brand">
          <h1><span class="lab la-accusoft"></span>Accusoft</h1>
        </div>
        <div class="sidebar-menu">
          <ul>
            <li>
              <a href=""><span class="las la-igloo"></span>
                <span>DashBoard</span>
              </a>
            </li>
            <li>
              <a href=""><span class="las la-users"></span>
                <span>Clientes</span>
              </a>
            </li>
            <li>
              <a href=""><span class="las la-clipboard-list"></span>
                <span>Projetos</span>
              </a>
            </li>
            <li>
              <a href=""><span class="las la-shipping-bag"></span>
                <span>Ordens</span>
              </a>
            </li>
            <li>
              <a href=""><span class="las la-receipt"></span>
                <span>Estoque</span>
              </a>
            </li>
            <li>
              <a href=""><span class="las la-user-circle"></span>
                <span>Contas</span>
              </a>
            </li>
            <li>
              <a href=""><span class="las la-clipboard-list"></span>
                <span>Tarefas</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="main-content">
          <header>
            <h2>
                <labe for="">
                  <span class="las la-bars"></span>
                </labe>
                DashBoard
            </h2>
            <div class="search-wrapper">
              <span class="las la-search"></span>
              <input type="search" placeholder="Pesquisa" />
            </div>
            <div class="user-wrapper">
              <img src="img/fly.jpg" alt="Fly" width="40px" height="40px">
              <div>
                <h4>Diego</h4>
                <small>Administrador</small>
              </div>
            </div>
          </header>
          <main>
            <div class="card">
              <div class="card-single">
                <div>
                  <h1>543</h1>
                  <span>Clientes</span>
                </div>
                <div>
                  <span class="las la-users"></span>
                </div>
              </div>
              <div class="card-single">
                <div>
                  <h1>121</h1>
                  <span>Projetos</span>
                </div>
                <div>
                  <span class="las la-clipboard"></span>
                </div>
              </div>
              <div class="card-single">
                <div>
                  <h1>321</h1>
                  <span>Ordens</span>
                </div>
                <div>
                  <span class="las la-shopping-bag"></span>
                </div>
              </div>
              <div class="card-single">
                <div>
                  <h1>600 Mil</h1>
                  <span>Em Projetos realizados com sucesso</span>
                </div>
                <div>
                  <span class="las la-google-wallet"></span>
                </div>
              </div>
            </div>
          </main>
      </div>
  </body>
</html>
